doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
  link(rel='stylesheet' href='static/css/style.css')
  title Document
header.header
  .header__container
    .header__head
      img(src='static/img/journal/1.png' alt='journal')
      h3.header__title our journal
    .header__box
      .header__images
        img(src='static/img/journal/2.png' alt='journal')
        img.header__imgOne(src='static/img/journal/2-2.png' alt='journal')
      .header__content.header-content__one
        span.header__subtitle LOVE
        h3
          | Lorem ipsum dolor sit amet, consectetur adipisicing 
          br
          |  elit, sed do
        p
          | You know how to make best coffee in the universe? Or, maybe you&rsquo;re very good in designing gloves? Tell everyone about your experience and skills.
        span.header__number 01
      .header__images
        img(src='static/img/journal/3.png' alt='journal')
        img.header__imgTwo(src='static/img/journal/3-3.png' alt='journal')
    .header__box
      .header__content.header-content__two
        span.header__subtitle tree
        h3
          | Lorem ipsum dolor sit 
          br
          |  amet, consectetur 
          br
          |  adipisicing elit,
        p
          | The way to a successful brand is hard, but always very interesting. Share the full story of your project &ndash; from the very first day until now.
        span.header__number 02
      .header__images.header-images__mod
        img(src='static/img/journal/4.png' alt='journal')
        img.header__imgFri(src='static/img/journal/4-4.png' alt='journal')
      .header__content.header-content__fri
        span.header__subtitle WATER
        h3
          | LITTLE PIECES OF 
          br
          |  OUR PROUDNESS
        p
          | What do you do better than your competitors? What are you proud of? What details and advantages of your product you want people to know about?
        span.header__number 03
section.work
  .work__container
    .work__head
      img(src='static/img/journal/1.png' alt='journal')
      h3.work__title HOW WE WORK
    .work__box
      .work__inner
        h2.work__one 1
        img(src='static/img/work/3-layers.png' alt='layers')
        h3 Lorem ipsum dolor sit
        p amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
      .work__inner
        h2.work__two 2
        img(src='static/img/work/3-layers(1).png' alt='layers')
        h3 Lorem ipsum dolor sit
        p amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
      .work__inner
        h2.work__fri 3
        img(src='static/img/work/3-layers(2).png' alt='layers')
        h3 Lorem ipsum dolor sit
        p amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
      .work__inner
        h2.work__four 4
        img(src='static/img/work/3-layers(4).png' alt='layers')
        h3 Lorem ipsum dolor sit
        p amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
section.travel
  .travel__container
    .travel__head
      img(src='static/img/journal/1.png' alt='journal')
      h3.travel__title TRAVEL WITH US
    .travel__box
      .travel__inner
        img.travel__stars(src='static/img/travel/layer_110_1271.png' alt='Layer')
        img.travel__image(src='static/img/travel/Layer_108.png' alt='Layer')
        h3 Carpathian
        p
          | Lorem ipsum dolor si 
          br
          |  amet, consectetur
        .travel__price
          span 3150$
          b $793
      .travel__inner
        img.travel__stars(src='static/img/travel/layer_4_1073.png' alt='Layer')
        img(src='static/img/travel/Layer_109.png' alt='Layer')
        h3 Carpathian
        p
          | Lorem ipsum dolor si 
          br
          |  amet, consectetur
        .travel__price
          span 3150$
          b $793
      .travel__inner
        img.travel__stars(src='static/img/travel/layer_4_1073.png' alt='Layer')
        img(src='static/img/travel/Layer_111.png' alt='Layer')
        h3 Carpathian
        p
          | Lorem ipsum dolor si 
          br
          |  amet, consectetur
        .travel__price
          span 3150$
          b $793
      .travel__inner
        img.travel__stars(src='static/img/travel/layer_4_1073.png' alt='Layer')
        img(src='static/img/travel/Layer_116.png' alt='Layer')
        h3 Carpathian
        p
          | Lorem ipsum dolor si 
          br
          |  amet, consectetur
        .travel__price
          span 3150$
          b $793
      .travel__inner
        img.travel__stars(src='static/img/travel/layer_4_1110.png' alt='Layer')
        img(src='static/img/travel/Layer_117.png' alt='Layer')
        h3 Carpathian
        p
          | Lorem ipsum dolor si 
          br
          |  amet, consectetur
        .travel__price
          span 3150$
          b $793
section.gallery
  .gallery__container
    .gallery__head
      img(src='static/img/journal/1.png' alt='journal')
      h3.gallery__title Gallery
    .gallery__box
      .gallery__inner
        img(src='static/img/gallery/1.png' alt='gallery')
        img(src='static/img/gallery/2.png' alt='gallery')
      .gallery__inner
        img(src='static/img/gallery/3.png' alt='gallery')
        img(src='static/img/gallery/4.png' alt='gallery')
      .gallery__inner
        img(src='static/img/gallery/5.png' alt='gallery')
        img(src='static/img/gallery/6.png' alt='gallery')
section.sponsors
  .sponsors__container
    .sponsors__box
      img(src='static/img/sponsors/vector_smart_object_529.png' alt='vector_smart_object')
      img(src='static/img/sponsors/vector_smart_object_530.png' alt='vector_smart_object')
      img(src='static/img/sponsors/vector_smart_object_531.png' alt='vector_smart_object')
      img(src='static/img/sponsors/vector_smart_object_532.png' alt='vector_smart_object')
      img(src='static/img/sponsors/vector_smart_object_533.png' alt='vector_smart_object')
      img(src='static/img/sponsors/vector_smart_object_534.png' alt='vector_smart_object')
section.clients
  .clients__head
    img(src='static/img/journal/1.png' alt='journal')
    h3.clients__title our Clients say
  .clients__wrapper
    .clients__container
      .clients__box
        .clients__inner
          img(src='static/img/client/1.png' alt='client')
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
            br
            |   enim ad minim veniam, quis nostrud exercitation ullamco 
            br
            |  laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
            br
            |  irure dolor in reprehenderit in voluptate velit esse
          .clients__name
            img(src='static/img/client/Layer_27.png' alt='Layer')
            p
              b Pavliv Yaroslav
              |  Web designer
        .clients__inner
          img(src='static/img/client/1.png' alt='client')
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
            br
            |   enim ad minim veniam, quis nostrud exercitation ullamco 
            br
            |  laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
            br
            |  irure dolor in reprehenderit in voluptate velit esse
          .clients__name
            img(src='static/img/client/Layer_28.png' alt='Layer')
            p
              b John Scott
              | The Fringe
      .clients__forms
      .clients__block
        h3 CONTACTS
        p Sign up for our newsletter to receive updates
        form.clients__form(action='#')
          input.clients__text(type='text' placeholder='Name')
          input.clients__tel(type='tel' placeholder='Phone')
          input.clients__emal(type='email' placeholder='E-mail')
          button SEND
footer.footer
  .footer__container
    .footer__box
      p All rights reserved 2015
      .footer__links
        a.footer__twitter(href='#')
          img(src='static/img/footer/twitter.png' alt='twitter')
        a.footer__facebook(href='#')
          img(src='static/img/footer/facebook.png' alt='facebook')
        a.footer__vk(href='#')
          img(src='static/img/footer/vk.png' alt='vk')
      h4 1 234 243 123